In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

reviews = pd.read_csv('reviews.csv')
reviews.head(1)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...

In [2]:
reviews['smry_txt'] = reviews['Summary'].astype(str) + ' ' + reviews['Text']
reviews[['smry_txt', 'Score']].head()

                                            smry_txt  Score
0  Good Quality Dog Food I have bought several of...      5
1  Not as Advertised Product arrived labeled as J...      1
2  "Delight" says it all This is a confection tha...      4
3  Cough Medicine If you are looking for the secr...      2
4  Great taffy Great taffy at a great price.  The...      5

In [3]:
reviews['smry_txt'] = reviews['Summary'].astype(str) + ' ' + reviews['Text']
reviews[['smry_txt', 'Score']].head()

                                            smry_txt  Score
0  Good Quality Dog Food I have bought several of...      5
1  Not as Advertised Product arrived labeled as J...      1
2  "Delight" says it all This is a confection tha...      4
3  Cough Medicine If you are looking for the secr...      2
4  Great taffy Great taffy at a great price.  The...      5

In [4]:
dataset = reviews.loc[reviews['Score'] != 3][['smry_txt','Score']]

In [5]:
dataset.loc[dataset['Score']==1, 'Score'] = 'negative'
dataset.loc[dataset['Score']==2, 'Score'] = 'negative'
dataset.loc[dataset['Score']==4, 'Score'] = 'positive'
dataset.loc[dataset['Score']==5, 'Score'] = 'positive'

In [6]:
dataset.head()

                                            smry_txt     Score
0  Good Quality Dog Food I have bought several of...  positive
1  Not as Advertised Product arrived labeled as J...  negative
2  "Delight" says it all This is a confection tha...  positive
3  Cough Medicine If you are looking for the secr...  negative
4  Great taffy Great taffy at a great price.  The...  positive

# Logistic Regression

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import f1_score

In [9]:
#   GridsearchCV will build classifier specified (logistic regression),
# with the optimal C value, with 3-fold cross validation by defalut. 
# So, we don't need to build a classifier again with this model..
param_grid = {'C': [0.001, 0.01, 0.1, 1, 10, 100, 1000]}
log_reg = LogisticRegression(penalty='l2')
log_reg_grid_clf = GridSearchCV(log_reg, param_grid=param_grid,n_jobs=2)
log_reg_grid_clf

GridSearchCV(cv=None, error_score='raise',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False),
       fit_params={}, iid=True, n_jobs=2,
       param_grid={'C': [0.001, 0.01, 0.1, 1, 10, 100, 1000]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=0)

In [10]:
count_vec_total = CountVectorizer()

x_data = count_vec_total.fit_transform(dataset.smry_txt)
y_data = dataset['Score']

y_data.head()

print(dataset.iloc[0]['smry_txt'], end='\n\n')
print(count_vec_total.inverse_transform(x_data[0]), end='\n\n')
print(x_data[0])

Good Quality Dog Food I have bought several of the Vitality canned dog food products and have found them all to be of good quality. The product looks more like a stew than a processed meat and it smells better. My Labrador is finicky and she appreciates this product better than  most.

[array(['most', 'this', 'appreciates', 'she', 'finicky', 'is', 'labrador',
       'my', 'better', 'smells', 'it', 'meat', 'processed', 'than', 'stew',
       'like', 'more', 'looks', 'product', 'be', 'to', 'all', 'them',
       'found', 'and', 'products', 'canned', 'vitality', 'the', 'of',
       'several', 'bought', 'have', 'food', 'dog', 'quality', 'good'],
      dtype='<U124')]

  (0, 74176)	1
  (0, 108779)	1
  (0, 9541)	1
  (0, 97878)	1
  (0, 47541)	1
  (0, 61725)	1
  (0, 65358)	1
  (0, 75122)	1
  (0, 20970)	2
  (0, 100122)	1
  (0, 61875)	1
  (0, 71077)	1
  (0, 87084)	1
  (0, 108307)	2
  (0, 103477)	1
  (0, 66977)	1
  (0, 73996)	1
  (0, 67944)	1
  (0, 87176)	2
  (0, 19907)	1
  (0, 109606)	1
  (0, 7492)	1
  (0, 108457)	1
  (0, 49181)	1
  (0, 8547)	3
  (0, 87199)	1
  (0, 25908)	1
  (0, 115789)	1
  (0, 108377)	2
  (0, 78426)	2
  (0, 97531)	1
  (0, 23056)	1
  (0, 55714)	2
  (0, 48731)	2
  (0, 40110)	2
  (0, 88814)	2
  (0, 52757)	2

In [ ]:
#lets run GridsearchCV on our data
log_reg_grid_clf.fit(x_data, y_data.values, verbose=10)