In [1]:
import pandas as pd
import numpy as np

reviews_sst = pd.read_csv('preprocessed_reviews_SST.csv')
reviews_sst[:4]

,Score,Summary,Text
0,5,perfect dark chocol experi,well dark chocol creami lavend absolut perfect...
1,5,fresh qualiti,swear cupcak ate fresh one local groceri store...
2,5,wrong,origin given 1 star sinc cake best shape got s...
3,5,cat like juic food,cat love sauc wet food feed product sauci winn...

In [2]:
dataset = pd.DataFrame()
dataset['smry_txt'] = reviews_sst['Summary'].astype(str) + ' ' + reviews_sst['Text']
dataset['score'] = reviews_sst['Score']
dataset.head()

                                            smry_txt  score
0  perfect dark chocol experi well dark chocol cr...      5
1  fresh qualiti swear cupcak ate fresh one local...      5
2  wrong origin given 1 star sinc cake best shape...      5
3  cat like juic food cat love sauc wet food feed...      5
4  list mislead cocoa butter found reason thought...      1

In [3]:
#lets filter the dataset so that it contains reviews that are either positive(4 or 5) or negative(1 or 2)
dataset = dataset[dataset.score != 3]
dataset.shape

(525814, 2)

In [13]:
dataset['score']

0         None
1         None
2         None
3         None
4         None
6         None
8         None
9         None
10        None
11        None
12        None
13        None
14        None
15        None
16        None
17        None
18        None
19        None
20        None
21        None
23        None
24        None
25        None
26        None
27        None
28        None
29        None
30        None
31        None
32        None
          ...
568422    None
568423    None
568424    None
568425    None
568426    None
568427    None
568428    None
568429    None
568430    None
568431    None
568432    None
568433    None
568434    None
568435    None
568436    None
568437    None
568438    None
568439    None
568440    None
568441    None
568442    None
568445    None
568446    None
568447    None
568448    None
568449    None
568450    None
568451    None
568452    None
568453    None
Name: score, Length: 525814, dtype: object

In [5]:
dataset['score'] = dataset['score'].apply({1:'negative', 2:'negative', 4:'positive', 5:'positive'}.get)
dataset.head()

                                            smry_txt score
0  perfect dark chocol experi well dark chocol cr...  None
1  fresh qualiti swear cupcak ate fresh one local...  None
2  wrong origin given 1 star sinc cake best shape...  None
3  cat like juic food cat love sauc wet food feed...  None
4  list mislead cocoa butter found reason thought...  None

## split the training(70%) and testing(30%) data

In [6]:
from sklearn.cross_validation import train_test_split
x_train, x_test, y_train, y_test = train_test_split(dataset['smry_txt'], dataset['score'])

In [12]:
y_train

152200    None
167535    None
260917    None
319779    None
150190    None
391476    None
466796    None
105686    None
179745    None
419555    None
208475    None
3451      None
127755    None
446395    None
24661     None
366870    None
43584     None
439625    None
453737    None
348819    None
304453    None
190876    None
45506     None
260309    None
359850    None
393541    None
95722     None
313300    None
454180    None
185830    None
          ...
365981    None
400074    None
243614    None
167603    None
69423     None
503107    None
268596    None
267470    None
175356    None
198261    None
512808    None
314890    None
95477     None
472581    None
485924    None
143743    None
275463    None
194188    None
428185    None
299940    None
56477     None
509105    None
301762    None
238681    None
293849    None
266580    None
169793    None
144344    None
153802    None
227957    None
Name: score, Length: 394360, dtype: object

In [13]:
import random
def getTrainAndTestIndices(size, trn_pcnt = 0.70, tst_pcnt = 0.30):
    print("\n we have {} datapoints".format(size), end = ". ")
    train_size = int(size*trn_pcnt)
    test_size = size - train_size
    print("Out of which, we will get {} points in our training data and {} points in our testing data. \n".format(train_size, test_size))
    ind = list(range(size))
    random.shuffle(ind)
    return ind[:train_size], ind[train_size:]

In [14]:
 trn_ind, tst_ind = getTrainAndTestIndices(dataset.shape[0])

 we have 525814 datapoints. Out of which, we will get 368069 points in our training data and 157745 points in our testing data.

In [16]:
train_data = dataset.iloc[trn_ind]
test_data = dataset.iloc[tst_ind]
train_data.shape, test_data.shape

((368069, 2), (157745, 2))

In [17]:
train_data.head(2)

                                                 smry_txt     score
198726  good sweetner sweetner courser xylitol bought ...  positive
24958   nourish delici introduc ghee yoga studi southe...  positive

## Logistic Regression on the training data