# K- nearest neighbour algorithm

<pre>
Q1.
    1. Download the Iris data set
    2. Devide the whole data set into three data sets namely train(65% of data), cross valid(20% ofdata), test(15% of data) data sets by using a [0-1] random number genarator.
    3. Find the best 'k' in range (3-20) for which the knn will give best accuracy on cross valid data set
    4. Report the Precision, recall and Accuracy for choosen 'k' on test data
Q2.
    1. appply the same algorithm on mnist
Note1: for the distance measure you can choose any of the Euclidean or Manhattan.
Note2: It is your choice to normalize the data.
</pre>

In [11]:
import pandas as pd
import numpy as np

In [12]:
iris = pd.read_csv('Iris.csv')

In [20]:
iris.shape

(150, 6)

In [13]:
iris.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [14]:
iris.iloc[0]

Id                         1
SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 0, dtype: object

###  2.      Devide the whole data set into three data sets namely train(65% of data), cross valid(20% ofdata), test(15% of data) data sets by using a [0-1] random number genarator.

In [21]:
def train_t_crossvalid_datasplit(dataset):
    pass

In [18]:
iris.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica